.foot_nav {
    display: flex;
    flex-direction: column;
    .foot_menu {
       .menu_list {
           display: flex;
           .meni_item{
               .menu_link {
                   color: #fff;
                   
               }
           }
       }
    }
}