.my_work {
    display: flex;

    width: 100%;
    height: 100%;
    position: relative;
    flex-direction: column;
    .title {
        h2 {
            font-weight: bold;
            color: #2b3948;
            min-height: 150px;
            font-size: 36px;
        }
    }
    .slaider {
        display: flex;
    @include desktopmini {
        flex-direction: column;
    }

    }
    .block_slaid {
        width: 70%;
        display: flex;
        flex-direction: column;
        z-index: 1;
    @include desktopmini {
        width: 90%;
    }
    @include phones {
        width: 100%;
    }


        
        .slaid_pic {
            position: relative;
            .big_pic {
              width: 950px;
              height: 550px;
              transition: background 1s;
        @include desktop {
            width: 650px;
            height: 350px;
        }
    @include phones {
        width: 100%;
    }

            }
            .slaid {
                display: flex;
                position: absolute;
                bottom: 6%;
                right: 0;
                box-shadow: 0 0 20px 10px rgba(#000000, 0.5);
                
                @include desktop {
                    right: 0;
                }
                @include phones {
                    display: none;
                }
                .slaid_list {
                    display: flex;
                        list-style: none;
                        width: 720px;
                        overflow: hidden;
                        @include desktop {
                            width: 360px;
                        }
                        .active {
                            border: 2px solid #f29400;
                            transition: border 0.3s;
                            box-sizing: border-box;
                        }
                        
                    
                    .slaid_item {
                        list-style: none;
                        width: 180px;
                        height: 100px;
                        flex: 0 0 auto;
                        &:hover {
                            
                            border: 2px solid #f29400;
                            box-sizing: border-box;
                            
                            
                        }
                        .slaid_link {
                            .slaid_pic {
                                width: 100%;
                                height: 100%;
                                
                            }
                        }
                    }
                }
            }
        }
        .scrolls {
            display: flex;
            flex-direction: column;
            background: #2d3c4e;
            width: 50px;
            height: 100px;
            position: absolute;
            bottom: 6%;
            right: -50px;
    @include phones {
        bottom: 0;
        right: 0;
    }
            
            .right_in{
                height: 50%;
                width: 100%;
                cursor: pointer;
            background: #2d3c4e;
            position: relative;
                transition: background 0.4s;
                &:hover {
                    background: #293e56;
                }
                &:hover .right{
                    background: svg-load('arrow-down.svg', fill=#fff, width=100%, height=100%);
                }
                .right{
                    width: 10px;
                    height: 10px;
                    background: svg-load('arrow-down.svg', fill=#5c6876, width=100%, height=100%);
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    
                }
                
            }
             .left_in {
                height: 50%;
                width: 100%;
                cursor: pointer;
            background: #2d3c4e;
            position: relative;
                transition: background 0.4s;
                &:hover {
                    background: #293e56;
                }
                &:hover .left{
                    background: svg-load('arrow-down.svg', fill=#fff, width=100%, height=100%);
                }
                .left {
                    width: 10px;
                    height: 10px;
                    background: svg-load('arrow-down.svg', fill=#5c6876, width=100%, height=100%);
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    position: absolute;
                    top: 35%;
                    left: 35%;
                    transform: translate(-50%,-50%);
                    transform: rotate(180deg);
                    
                }
            }
        }
    }
    .block_info {
        margin-left: 70px;
        width: 20%;
        display: flex;
        flex-direction: column;
        z-index: 1;
        @include desktop {
        margin-left: 10%;
    }
    @include desktopmini {
        width: 100%;
        margin-left: 0;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 30px;
    }
    @include phones {
        text-align: left;
        padding: 0 40px;
        justify-content: flex-start;
        align-items: flex-start;
    }


        .info_tags {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 300px;
        @include desktop {
            width: 250px;
        }
            .info_item {
                padding: 15px 20px;
                background: #f1f5f9;
                color: #7a8087;
                font-weight: 500;
                border-radius: 25px 25px 25px 25px / 25px 25px 25px 25px;
                cursor: pointer;
                &:hover {
                    color: #fff;
                    background: #ef8800;
                }
                @include desktop {
                    padding: 10px 15px;

                }
            }
        }
        .info_text {
            display: flex;
            flex-direction: column;
            h2 {
                margin: 40px 0;
                font-weight: bold;
                font-size: 30px;
                @include desktop {
                    font-size: 24px
                }
            }
            span {
                color: #969aa0;
                font-weight: 400;
                line-height: 30px;
                    @include desktop {
                        line-height: 20px;
                    }
            }
        }
        .info_link {
            margin-top: 20px;
            display: flex;
            align-items: center;
            .svg_link {
                width: 14px;
                height: 14px;
                background: svg-load('link.svg', fill=#4b6fd7, width=100%, height=100%);
            }
            .link {
                text-decoration: none;
                color: #4b6fd7;
                margin-left: 10px;
                font-weight: 600;
            }
        }
    }
}
.number {
    position: absolute;
    right: 25%;
    top: 20%;
    font-size: 400px;
    color: #e6e5e5;
    font-weight: bold;
    z-index: 0;
    @include desktop {
        font-size: 350px;
    }
    @include desktopmini {
        right: -30px;
        top:  6%;
        font-size: 250px;
    }
    @include desktopMid {
        right: 20%;
    }

}